<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>three ts 脚手架</title>
</head>
<style>
    body {
        margin: 0;
    }
    
    body::-webkit-scrollbar {
        display: none;
    }
</style>

<body>
    <p id="counter" style=" margin: 0;  position: absolute;  top: 0; left: 200px; "></p>
    <script type="text/javascript" src="./public/three.min.js"></script>
    <script type="text/javascript" src="./public/OBJLoader.js"></script>
    <script type="text/javascript" src="./public/MTLLoader.js"></script>
</body>

</html>