<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>three ts 脚手架</title>
</head>

<body>
    <script type="text/javascript" src="./public/three.min.js"></script>
    <script type="x-shader/x-vertex" id="vertex-shader" src="./public/vertex.glsl"></script>
    <script type="x-shader/x-fragment" id="fragment-shader-1" src="./public/fragment-1.glsl"></script>
</body>

</html>